IBMexamples/processes/travelbookingWSDL/CarReservationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://travelbooking/CarReservationService"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://travelbooking/CarReservationService"
	xmlns:intf="http://travelbooking/CarReservationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://travelbooking/CarReservationService"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="doCarReservation">
				<complexType>
					<sequence>
						<element name="company" type="xsd:string" />
						<element name="category" type="xsd:string" />
						<element name="from" type="xsd:string" />
						<element name="to" type="xsd:string" />
						<element name="cardNumber" type="xsd:string" />
						<element name="cardType" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="doCarReservationResponse">
				<complexType>
					<sequence>
						<!-- element name="doCarReservationReturn" type="xsd:boolean" / -->
						<element name="carConfirmation" type="xsd:boolean" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="doCarReservationRequest">

		<wsdl:part element="impl:doCarReservation" name="request">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="carConfirmation">

		<wsdl:part element="impl:doCarReservationResponse" name="response">

		</wsdl:part>

	</wsdl:message>

	<!--  wsdl:message name="doCarReservationResponse">

		<wsdl:part element="impl:doCarReservationResponse" name="response">

		</wsdl:part>

	</wsdl:message -->

	<wsdl:portType name="CarReservationService">

		<wsdl:operation name="doCarReservation">

			<wsdl:input message="impl:doCarReservationRequest" name="doCarReservationRequest">

			</wsdl:input>

			<!-- wsdl:output message="impl:doCarReservationResponse"
				name="doCarReservationResponse" -->

			<wsdl:output message="impl:carConfirmation"
				name="doCarReservationResponse">
			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="CarReservationServiceSoapBinding"
		type="impl:CarReservationService">

		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="doCarReservation">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="doCarReservationRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="doCarReservationResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="CarReservationServiceService">

		<wsdl:port binding="impl:CarReservationServiceSoapBinding"
			name="CarReservationService">

			<wsdlsoap:address
				location="http://localhost:8080/services/CarReservationService" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
