IBMexamples/processes/travelbookingWSDL/CreditCardCheckingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://travelbooking/CreditCardCheckingService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://travelbooking/CreditCardCheckingService" xmlns:intf="http://travelbooking/CreditCardCheckingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://travelbooking/CreditCardCheckingService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doCreditCardChecking">
    <complexType>
     <sequence>
      <element name="cardNumber" type="xsd:string"/>
      <element name="cardType" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doCreditCardCheckingResponse">
    <complexType>
     <sequence>
      <element name="doCreditCardCheckingReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doCreditCardCheckingRequest">

      <wsdl:part element="impl:doCreditCardChecking" name="request">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doCreditCardCheckingResponse">

      <wsdl:part element="impl:doCreditCardCheckingResponse" name="response">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CreditCardCheckingService">

      <wsdl:operation name="doCreditCardChecking">

         <wsdl:input message="impl:doCreditCardCheckingRequest" name="doCreditCardCheckingRequest">

       </wsdl:input>

         <wsdl:output message="impl:doCreditCardCheckingResponse" name="doCreditCardCheckingResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CreditCardCheckingServiceSoapBinding" type="impl:CreditCardCheckingService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doCreditCardChecking">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doCreditCardCheckingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doCreditCardCheckingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CreditCardCheckingServiceService">

      <wsdl:port binding="impl:CreditCardCheckingServiceSoapBinding" name="CreditCardCheckingService">

         <wsdlsoap:address location="http://tempuri.org/travelbooking/services/CreditCardCheckingService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
