IBMexamples/processes/travelbookingWSDL/FlightReservationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://travelbooking/FlightReservationService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://travelbooking/FlightReservationService" xmlns:intf="http://travelbooking/FlightReservationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://travelbooking/FlightReservationService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doFlightReservation">
    <complexType>
     <sequence>
      <element name="airline" type="xsd:string"/>
      <element name="source" type="xsd:string"/>
      <element name="target" type="xsd:string"/>
      <element name="departure" type="xsd:string"/>
      <element name="arrival" type="xsd:string"/>
      <element name="cardNumber" type="xsd:string"/>
      <element name="cardType" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doFlightReservationResponse">
    <complexType>
     <sequence>
      <element name="doFlightReservationReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doFlightReservationRequest">

      <wsdl:part element="impl:doFlightReservation" name="request">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doFlightReservationResponse">

      <wsdl:part element="impl:doFlightReservationResponse" name="response">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FlightReservationService">

      <wsdl:operation name="doFlightReservation">

         <wsdl:input message="impl:doFlightReservationRequest" name="doFlightReservationRequest">

       </wsdl:input>

         <wsdl:output message="impl:doFlightReservationResponse" name="doFlightReservationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FlightReservationServiceSoapBinding" type="impl:FlightReservationService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doFlightReservation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doFlightReservationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doFlightReservationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FlightReservationServiceService">

      <wsdl:port binding="impl:FlightReservationServiceSoapBinding" name="FlightReservationService">

         <wsdlsoap:address location="http://tempuri.org/travelbooking/services/FlightReservationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
