IBMexamples/processes/travelbookingWSDL/HotelReservationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://travelbooking/HotelReservationService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://travelbooking/HotelReservationService" xmlns:intf="http://travelbooking/HotelReservationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://travelbooking/HotelReservationService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doHotelReservation">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="category" type="xsd:string"/>
      <element name="from" type="xsd:string"/>
      <element name="to" type="xsd:string"/>
      <element name="cardNumber" type="xsd:string"/>
      <element name="cardType" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doHotelReservationResponse">
    <complexType>
     <sequence>
      <element name="doHotelReservationReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doHotelReservationRequest">

      <wsdl:part element="impl:doHotelReservation" name="request">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doHotelReservationResponse">

      <wsdl:part element="impl:doHotelReservationResponse" name="response">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HotelReservationService">

      <wsdl:operation name="doHotelReservation">

         <wsdl:input message="impl:doHotelReservationRequest" name="doHotelReservationRequest">

       </wsdl:input>

         <wsdl:output message="impl:doHotelReservationResponse" name="doHotelReservationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HotelReservationServiceSoapBinding" type="impl:HotelReservationService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doHotelReservation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doHotelReservationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doHotelReservationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HotelReservationServiceService">

      <wsdl:port binding="impl:HotelReservationServiceSoapBinding" name="HotelReservationService">

         <wsdlsoap:address location="http://tempuri.org/travelbooking/services/HotelReservationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
