IBMexamples/processes/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile"
	targetNamespace="http://www.example.org/NewWSDLFile/">

	<types>
		<schema targetNamespace="http://example.com/stockquote.xsd"
			xmlns="http://www.w3.org/2000/10/XMLSchema">
			<element name="TradePriceRequest">
				<complexType>
					<all>
						<element name="tickerSymbol" type="string" />
					</all>
				</complexType>
			</element>
			<element name="TradePrice">
				<complexType>
					<all>
						<element name="price" type="float" />
					</all>
				</complexType>
			</element>
		</schema>
	</types>












	<!-- travelbookingBPEL BPEL Process [Generated by the Eclipse BPEL Designer] -->
	<!-- Date: Wed Aug 28 15:21:22 CEST 2013 -->

	<process>
		<partnerLinks>
			<partnerLink1>...</partnerLink1>
			<partnerLink2>
				...
			</partnerLink>
		</partnerLinks>
		<variables>
			<variable1>...</variable1>
			<variable2></variable2>
		</bpel:variables>
			<sequence>
				<receive>
					<assign>
						<copy1>
							<from>...</from>
							<to>...</to>
						</copy1>
						<copy2>
							<from>...</from>
							<to>...</to>
						</copy2>
					</assign>
					<reply>...</reply>
			</sequence>
	</process>

















	<xsd:simpleType name="myInteger">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="10000" />
			<xsd:maxInclusive value="99999" />
		</xsd:restriction>
	</xsd:simpleType>

	<message name="GetLastTradePriceInput">
		<part name="body" element="xsd1:TradePriceRequest" />
	</message>

	<message name="GetLastTradePriceOutput">
		<part name="body" element="xsd1:TradePrice" />
	</message>

	<portType name="StockQuotePortType">
		<operation name="GetLastTradePrice">
			<input message="tns:GetLastTradePriceInput" />
			<output message="tns:GetLastTradePriceOutput" />
		</operation>
	</portType>

	<binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="GetLastTradePrice">
			<soap:operation soapAction="http://example.com/GetLastTradePrice" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="StockQuoteService">
		<documentation>My first service</documentation>
		<port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
			<soap:address location="http://example.com/stockquote" />
		</port>
	</service>

</wsdl:definitions>
