IBMexamples/processes/travelbookingBPELArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://eclipse.org/bpel/sample" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
	xmlns:wsdl="http://travelbooking" xmlns:wsdl1="http://travelbooking/CreditCardCheckingService"
	xmlns:wsdl2="http://travelbooking/FlightReservationService"
	xmlns:wsdl3="http://travelbooking/HotelReservationService" xmlns:wsdl4="http://travelbooking/CarReservationService"
	name="travelbookingBPEL" targetNamespace="http://eclipse.org/bpel/sample">

	<plnk:partnerLinkType name="creditCardPLT">
		<plnk:role name="serviceRole" portType="wsdl1:CreditCardCheckingService" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="flightReservationPLT">
		<plnk:role name="serviceRole" portType="wsdl2:FlightReservationService" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="hoterReservationPLT">
		<plnk:role name="serviceRole" portType="wsdl3:HotelReservationService" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="carReservationPLT">
		<plnk:role name="serviceRole" portType="wsdl4:CarReservationService" />
	</plnk:partnerLinkType>
	<import location="travelbookingWSDL/CreditCardCheckingService.wsdl"
		namespace="http://travelbooking/CreditCardCheckingService" />
	<import location="travelbookingWSDL/FlightReservationService.wsdl"
		namespace="http://travelbooking/FlightReservationService" />
	<import location="travelbookingWSDL/HotelReservationService.wsdl"
		namespace="http://travelbooking/HotelReservationService" />
	<import location="travelbookingWSDL/CarReservationService.wsdl"
		namespace="http://travelbooking/CarReservationService" />
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://eclipse.org/bpel/sample">
			<element name="travelbookingBPELRequest">
				<complexType>
					<sequence>
						<element name="cardNumber" type="string" />
						<element name="cardType" type="string" />
						<element name="source" type="string" />
						<element name="target" type="string" />
						<element name="departure" type="string" />
						<element name="arrival" type="string" />
						<element name="airline" type="string" />
						<element name="from" type="string" />
						<element name="to" type="string" />
						<element name="hotelCompany" type="string" />
						<element name="hotelCategory" type="string" />
						<element name="carCompany" type="string" />
						<element name="carCategory" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="travelbookingBPELResponse">
				<complexType>
					<sequence>
						<element name="information" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="confirmRequest">
				<complexType>
					<sequence>
						<element name="carConfirmation" type="boolean" />
						<element name="hotelConfirmation" type="boolean" />
						<element name="cardConfirmation" type="boolean" />
						<element name="flightConfirmation" type="boolean" />
					</sequence>
				</complexType>
			</element>
			<element name="confirmResponse">
				<complexType>
					<sequence>
						<element name="travelConfirmation" type="boolean" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="travelbookingBPELRequestMessage">
		<part element="tns:travelbookingBPELRequest" name="input" />
	</message>

	<message name="travelbookingBPELResponseMessage">
		<part element="tns:travelbookingBPELResponse" name="output" />
	</message>

	<message name="confirmRequest">
		<part element="tns:confirmRequest" name="confirmInput" />
	</message>

	<message name="confirmResponse">
		<part element="tns:confirmResponse" name="confirmOutput" />
	</message>

	<portType name="travelbookingBPEL">
		<operation name="bookTravel">
			<input message="tns:travelbookingBPELRequestMessage" />
			<output message="tns:travelbookingBPELResponseMessage" />
		</operation>
		<operation name="confirm">
			<input message="tns:confirmRequest" />
			<output message="tns:confirmResponse" />
		</operation>
	</portType>

	<plnk:partnerLinkType name="travelbookingBPEL">
		<plnk:role name="travelbookingBPELProvider" portType="tns:travelbookingBPEL" />
	</plnk:partnerLinkType>

	<binding name="travelbookingBPELBinding" type="tns:travelbookingBPEL">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="bookTravel">
			<soap:operation soapAction="http://eclipse.org/bpel/sample/bookTravel" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="confirm">
			<soap:operation soapAction="http://eclipse.org.bpel.sample/confirm" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="travelbookingBPELService">
		<port binding="tns:travelbookingBPELBinding" name="travelbookingBPELPort">
			<soap:address location="http://localhost:8080/travelbookingBPEL" />
		</port>
	</service>
</definitions>
